In [1]:
   
import pandas as pd
bureau_df1=pd.read_csv("../data/bureau_balance.csv")



bureau_df1.loc[bureau_df1['STATUS']=='C','STATUS']=0
bureau_df1.loc[bureau_df1['STATUS']=='X','STATUS']=0
bureau_df1.loc[bureau_df1['STATUS']=='0','STATUS']=0
bureau_df1.loc[bureau_df1['STATUS']=='1','STATUS']=1
bureau_df1.loc[bureau_df1['STATUS']=='2','STATUS']=2
bureau_df1.loc[bureau_df1['STATUS']=='3','STATUS']=3
bureau_df1.loc[bureau_df1['STATUS']=='4','STATUS']=4
bureau_df1.loc[bureau_df1['STATUS']=='5','STATUS']=5


#STATUS object타입
# int로 변환
bureau_df1 = bureau_df1.apply(pd.to_numeric)
# Error: 'DataFrame' object has no attribute 'to_frame'  
# 변환할게 없어서 뜨는 오류
# 그럴땐 이 코딩을 주석처리하기


# 아이디로 그룹바이 하여  평균값
bureau_df_statusMean1 = bureau_df1.groupby('SK_ID_BUREAU').mean()[['STATUS']]


bureau_df_statusMean1

                STATUS
SK_ID_BUREAU
5001709       0.000000
5001710       0.000000
5001711       0.000000
5001712       0.000000
5001713       0.000000
...                ...
6842884       0.000000
6842885       2.500000
6842886       0.000000
6842887       0.000000
6842888       0.016129

[817395 rows x 1 columns]